@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-in {
  animation: slide-in 0.25s ease-out;
}

